<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunuo.mapper.PermissionTMapper" >
  <resultMap id="BaseResultMap" type="com.yunuo.po.PermissionT" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="Func" property="func" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="BIGINT" />
    <result column="funcGroup" property="funcgroup" jdbcType="VARCHAR" />
    <result column="requirement" property="requirement" jdbcType="DOUBLE" />
    <result column="Person" property="person" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, Func, permission, funcGroup, requirement, Person
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yunuo.po.PermissionTExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from permission_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from permission_t
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission_t
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunuo.po.PermissionTExample" >
    delete from permission_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunuo.po.PermissionT" >
    insert into permission_t (id, Func, permission, 
      funcGroup, requirement, Person
      )
    values (#{id,jdbcType=BIGINT}, #{func,jdbcType=VARCHAR}, #{permission,jdbcType=BIGINT}, 
      #{funcgroup,jdbcType=VARCHAR}, #{requirement,jdbcType=DOUBLE}, #{person,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunuo.po.PermissionT" >
    insert into permission_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="func != null" >
        Func,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="funcgroup != null" >
        funcGroup,
      </if>
      <if test="requirement != null" >
        requirement,
      </if>
      <if test="person != null" >
        Person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="func != null" >
        #{func,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=BIGINT},
      </if>
      <if test="funcgroup != null" >
        #{funcgroup,jdbcType=VARCHAR},
      </if>
      <if test="requirement != null" >
        #{requirement,jdbcType=DOUBLE},
      </if>
      <if test="person != null" >
        #{person,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunuo.po.PermissionTExample" resultType="java.lang.Integer" >
    select count(*) from permission_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update permission_t
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.func != null" >
        Func = #{record.func,jdbcType=VARCHAR},
      </if>
      <if test="record.permission != null" >
        permission = #{record.permission,jdbcType=BIGINT},
      </if>
      <if test="record.funcgroup != null" >
        funcGroup = #{record.funcgroup,jdbcType=VARCHAR},
      </if>
      <if test="record.requirement != null" >
        requirement = #{record.requirement,jdbcType=DOUBLE},
      </if>
      <if test="record.person != null" >
        Person = #{record.person,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update permission_t
    set id = #{record.id,jdbcType=BIGINT},
      Func = #{record.func,jdbcType=VARCHAR},
      permission = #{record.permission,jdbcType=BIGINT},
      funcGroup = #{record.funcgroup,jdbcType=VARCHAR},
      requirement = #{record.requirement,jdbcType=DOUBLE},
      Person = #{record.person,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunuo.po.PermissionT" >
    update permission_t
    <set >
      <if test="func != null" >
        Func = #{func,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=BIGINT},
      </if>
      <if test="funcgroup != null" >
        funcGroup = #{funcgroup,jdbcType=VARCHAR},
      </if>
      <if test="requirement != null" >
        requirement = #{requirement,jdbcType=DOUBLE},
      </if>
      <if test="person != null" >
        Person = #{person,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunuo.po.PermissionT" >
    update permission_t
    set Func = #{func,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=BIGINT},
      funcGroup = #{funcgroup,jdbcType=VARCHAR},
      requirement = #{requirement,jdbcType=DOUBLE},
      Person = #{person,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>